{% extends 'layout.html' %}

{% block content %}
    <p class="welcome">班级管理</p>
    <input type="button" value="添加" id="add_class">
    <table>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>操作</th>
    </tr>
    {% for item in class_list %}
          <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.caption }}</td>
              <td><a href="#">编辑</a> | <a href="#" class="td-remove">删除</a></td>
          </tr>
    {% endfor %}
    </table>

{% endblock %}

{% block javascript %}
    <script>
    $(function () {
        $('.class-td').addClass('active');
    });

    $('#add_class').click(function () {
        $('.modal,.shade').removeClass('hide');
    });

    $('.td-remove').click(function () {
        $('.shade,.fuck').removeClass('hide')
    });

    $('#btn-cancel,#btn-remove').click(function () {
        $('.modal,.shade,.fuck').addClass('hide')
    });
    </script>
{#xin#}
{% endblock %}