<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css">
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    {% block css %}

    {% endblock %}
</head>
<body>
<div class="navigation">
    <div class="container clear">
        <h1 class="user">hello {{ username }}</h1>
    </div>
</div>
<div class="manager-list">
    <table>
        <tr>
            <td class="class-td"><a href="/class/" class="manager-item">班级</a></td>
        </tr>
        <tr>
            <td class="student-td"><a href="/student/" class="manager-item">学生</a></td>
        </tr>
        <tr>
            <td class="teacher-td"><a href="/teacher/" class="manager-item">教师</a></td>
        </tr>
    </table>
</div>
<div class="manager-content">
    {% block content %}

    {% endblock %}
</div>
{#  “添加”功能遮罩层  #}
<div class="modal hide">
{#    <form action="/class/" method="post">#}
{#        {% csrf_token %}#}
{#        <input type="text" placeholder="标题" name="caption">#}
{#        <input type="button" value="取消" id="btn-cancel">#}
{#        <input type="submit" value="确定">#}
{#    </form>#}


    <input type="text" placeholder="标题" name="caption">
    <input type="button" value="取消" id="btn-cancel">
    <input type="button" id= "modal_ajax_submit" value="Ajax">
</div>
{#  “删除”功能的遮罩层  #}
<div class="fuck hide">
        <input type="button" value="取消" id="btn-remove">
        <input type="button" value="确定">
</div>
{#  蒙版  #}
<div class="shade hide"></div>

</body>
{% block  javascript%}

{% endblock %}
</html>